<div class="center hero-unit">
  
<h1>Good!Ya</h1>

<br>
  <h2>
   Welcome to <b>Good!Ya</b>
  </h2>
  <h5>Once IN never OUT</h5>


  <%= link_to "Sign up now!", signup_path , class: "btn btn-large btn-primary" %>
</div>