<footer class="footer">
  <small>
    <%= link_to "Good!Ya",   root_path %>
    by <a href="devanggtgr8@gmail.com">Devang Bacharwar</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>